<a href="https://colab.research.google.com/github/Mars3623/Accenture-Data-Analytics-Virtual-Experience/blob/main/Accenture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import datetime

ReactionTypes (1).csv
Session (1).csv
Reactions (1).csv
Profile (1).csv
Content (1).csv

In [ ]:
# Load Data

data = pd.read_csv("Content (1).csv").drop(columns = ["Unnamed: 0"])
data = data.merge(pd.read_csv("Profile (1).csv").drop(columns = ["Unnamed: 0"]) , how = "left" , left_on = "User ID" , right_on = "User ID")
data = data.merge(pd.read_csv("/content/drive/MyDrive/Reactions (1).csv").
                  drop(columns = ["Unnamed: 0" , "User ID"]).rename(columns = {"Type" : "Reaction_Type"}) , how = "left" , on = "Content ID")
data = data.merge(pd.read_csv("Session (1).csv").drop(columns = "Unnamed: 0") , how = "left" , on = "User ID")
data = data.merge(pd.read_csv("ReactionTypes (1).csv").
                  drop(columns = "Unnamed: 0").rename(columns = {"Type" : "Reaction_Type"}) , how = "left" , on = "Reaction_Type")
data.drop(columns = ["Interests" , "URL"] , inplace = True)

In [ ]:
# Checking Unique Columns to confirm any abnormalities
data["Category"].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [ ]:
data["Category"] = data["Category"].replace('"' , "" , regex = True)
data["Category"] = data["Category"].str.lower()

In [ ]:
data["Category"].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25573 entries, 0 to 25572
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     25573 non-null  object
 1   User ID        25573 non-null  object
 2   Type           25573 non-null  object
 3   Category       25573 non-null  object
 4   Age            25573 non-null  int64
 5   Reaction_Type  24573 non-null  object
 6   Datetime       25553 non-null  object
 7   Device         25573 non-null  object
 8   Duration       25573 non-null  int64
 9   Sentiment      24573 non-null  object
 10  Score          24573 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 2.3+ MB

In [ ]:
data.isna().sum()

Content ID          0
User ID             0
Type                0
Category            0
Age                 0
Reaction_Type    1000
Datetime           20
Device              0
Duration            0
Sentiment        1000
Score            1000
dtype: int64

In [ ]:
# Droping NaN Rows
data.dropna(inplace = True)

In [ ]:
# Sorting Categories By Score
data.groupby("Category")["Score"].sum().sort_values(ascending = False).head(10)

Category
animals           74965.0
science           71168.0
healthy eating    69339.0
technology        68738.0
food              66676.0
culture           66579.0
travel            64880.0
cooking           64756.0
soccer            57783.0
education         57436.0
Name: Score, dtype: float64

In [ ]:
# Sorting Based on Count of Categories
data.groupby("Category")["Category"].count().sort_values(ascending = False).head(10)

Category
animals           1897
science           1796
healthy eating    1717
food              1699
technology        1698
culture           1676
cooking           1664
travel            1647
soccer            1457
education         1433
Name: Score, dtype: int64

In [ ]:
data["month"] = pd.to_datetime(data["Datetime"]).dt.month
data.groupby(["month"])["month"].count().sort_values(ascending = False)

                     Datetime
Datetime
2020-06-18 07:59:17         1
2020-06-18 08:07:22         1
2020-06-18 08:22:47         1
2020-06-18 08:51:33         1
2020-06-18 09:13:59         1
...                       ...
2021-06-18 07:41:35         1
2021-06-18 07:44:58         1
2021-06-18 07:52:55         1
2021-06-18 08:01:10         1
2021-06-18 08:30:29         1

[25542 rows x 1 columns]

In [ ]:
# Exporting to csv file
data.to_csv("data.csv")